<!-- start custom head snippets -->
<script>
window.MathJax = {
  loader: {
    load: ['input/asciimath', '[tex]/noerrors']
  },
  asciimath: {
    delimiters: [['`','`']],
    displaystyle: false
  },
  tex: {
    inlineMath: [ ["\\(","\\)"] ],
    displayMath: [ ["\\[","\\]"] ],
    tags: 'none',
    packages: {'[+]': ['noerrors']},
    macros: {
        /* RR: '\\mathbb{R}', */
        ddx: ['\\frac{d#2}{d#1}',2,'x'],
    }
  },
  svg: {
    /* fontCache: 'global', */
  },
  options: {
    menuOptions: {
      settings: {
        zoom: 'Click',
        zscale: '200%',
        collapsible: true
      }
    },
    /*ignoreHtmlClass: 'tex2jax_ignore',
    processHtmlClass: 'tex2jax_process'*/
  }
};
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" id="MathJax-script"></script>

<script type="text/javascript" charset="UTF-8"
 src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.1.0/jsxgraphcore.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.1.0/jsxgraph.css" />
<script>
JXG.merge(JXG.Options.board, {
  keepAspectRatio: true,
  axis: true,
  showCopyright: false,
  showNavigation: false,
  showFullscreen: true
});
JXG.merge(JXG.Options.ticks, {
  drawLabels: true,
  majorHeight: -1,
  strokeColor: '#cccccc'
});
JXG.Options.curve.strokeWidth = 2;
JXG.Options.elements.highlight = false;
JXG.Options.slider.ticks.majorHeight = 0;

// Custom styles and objects.
JXG.WJT = {};
JXG.WJT.point = {
  strokeColor: 'blue',
  fillColor: 'blue',
  fixed: true,
  scalable: true,
  withLabel: false,
  showInfobox: false,
  zoom: true
};
JXG.WJT.openPoint = {
  ...JXG.WJT.point,
  fillColor: 'white'
}

// Custom methods.
JXG.WJT.addPoints = function(board,pts,attrs) {
  if (typeof pts.forEach !== 'function') {
    console.error('Points must be an array of arrays. Given: '+(typeof pts));
    return;
  }

  pts.forEach(function(p){
    if (p.length != 2) {
      console.error('Point length must be 2. Given: '+p.length);
      return;
    }
    board.create('point',p,attrs)
  });
}
</script>
<!-- end custom head snippets -->
